.feature {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #30475e;
}
.feature-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.feature-item-button {
  margin: 0 4px 0 0;
  padding: 0;
  background: none;
  border: none;
  fill: #fff;
  outline: none;
  cursor: pointer;
}
.selected {
  fill: red;
}
.feature-item-counter {
  font-size: 0.88rem;
  color: white;
  padding-right: 1rem;
}
