.input-container {
  display: flex;
  width: 100%;
  /*position: absolute;
   bottom: 0; */
  align-items: center;
  height: 50px;
}
.input {
  width: 100%;
  outline: 0;
  border: 0;
  font-size: 1.2rem;
  font-weight: 600;
}
.input-counter {
  padding: 0.8rem;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 1px;
  opacity: 0.4;
}
.input-button {
  margin: 0 1rem 0 1rem;
  padding: 0;
  background: none;
  border: none;
  fill: #30475e;
  outline: none;
  cursor: pointer;
}

.input-button:active {
  position: relative;
  top: 1px;
}
.input-button:disabled {
  fill: #b7b7b7;
  cursor: default;
  position: unset;
}

.input-button-svg {
  height: 2rem;
  width: 2rem;
}
